* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(315deg, rgba(207, 242, 252, 1) 0%, rgba(255, 255, 255, 1) 60%);
}

.profile {
    text-align: center;
    padding: 20px;
}

.avatar {
    border: 2px solid rgb(166 166 166);
    border-radius: 50%;
    width: 150px;
}
h1 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 45px;
    font-weight: 400;
}

.social {
    margin-bottom: 20px;
}

.social ul {
    justify-content: space-evenly;
    list-style: none;
    display: flex;
}

.social img {
    width: 24px;
}

.links-list {
    text-align: center;
}

.links-list li{
    border: 2px solid rgb(166 166 166);
    border-radius: 30px;
    list-style: none;
    padding: 10px 0px;
    margin: 10px;
}

.links-list li a {
    text-decoration: none;
    color: black;
}
