* {
    margin: 0;
    padding: 0;
}

.profile {
    text-align: center;
    margin: 20px;
}

.profile img {
    width: 40%;
    border: 1px solid black;
    border-radius: 50%;
}

.nav {
    justify-content: space-evenly;
    list-style: none;
    display: flex;
}

.nav img {
    width: 25px;
}