* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: rgb(207, 242, 252);
    background: linear-gradient(315deg, rgba(207, 242, 252, 1) 0%, rgba(255, 255, 255, 1) 60%);
}

h1 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 45px;
    font-weight: 400;
}

.profile {
    text-align: center;
    padding: 20px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(166 166 166);
}

.social {
    margin-bottom: 20px;
}

.social ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.social ul li a img {
    width: 24px;
}

.links-list {
    text-align: center;
}

.links-list li {
    list-style: none;
    margin: 10px 10px;
    border: 2px solid rgb(166 166 166);
    padding: 10px 0px;
    border-radius: 30px;
}

.links-list li:hover {
    background-color: rgb(224 244 249);
}

.links-list li a {
    text-decoration: none;
    color: black;
    padding: 10px 140px;
}

.footer {
    background-color: rgb(207, 242, 252);    
    border-radius: 20px 20px 0 0;
    color: black;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    margin: 0px 5px;
}

.footer img {
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
}

.footer div {
    text-align: center;
    margin-left: 20px;
}

.footer h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}